.container
	{width: 400px;
	height: 400px;
	margin: 60px auto auto;
	}

 .table {
 	margin: 60px auto 0;
 	padding: 0 0;
 	width: 400 px;
 	height: auto;
 }  

 #cheer_p {
 	display: none;
 }

 .container p {
 	font-family: "nixie one";
 	font-size: 2em;
 	font-weight: bold;
 	position: relative;
 	margin: auto auto;
 	overflow: hidden;
 	text-align: center;	
 }

.buttons {
 	position: absolute;
 	
 	top: 240px;
 	left: 10%;
 	width: 140px;
 	height: 230px;
 	border: 2px solid black;
 	border-radius: 15px;
 	display: none;
 	list-style-type: none; 
    text-align: center;
    margin: 0 auto;
    padding: 0px;
 	background-color:lightgrey;
 }
  li {
 	
 	text-align: center;
 	margin: 0;
 	margin-right: auto;
 	margin-left: auto;
 	padding: 2px;
 }
 .buttons p{
 	font-family: "Poiret One";
 	font-size: 1.6em;
 	font-weight: bold;
 	text-align: center;
 	margin: 10px auto;
 }
#regular, #random, #adding, #clean, #reset {

	padding: auto;
	float: middle;
	font-family: "Special Elite";	
	font-size: 1.2em;
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
}
#adding {
	font-size: 1em;
}
#clean {
	background-color: black;
	color: white;
}
#reset {
	background-color: navy;
	color: white;
}




/*